In [1]:
# Conexão com SQL Server
import pandas as pd
import pyodbc

server = 'WILLIAN\SQLEXPRESS'
database = 'SQL_DB_1'

conexao = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                         f'SERVER={server};'
                         f'DATABASE={database};'
                         'Trusted_Connection=yes;')
cursor = conexao.cursor()

In [2]:
dados = pd.read_excel(r'C:\Aplicativos\Meus_Arquivos_Willian\Ambiente_Desenvolvimento\Arquivos_in\Produto.xlsx')
dados.head()

   ID                  Name  Price  Id_Category
0   0       Sapato vermelho     96            0
1   0       Sapato vermelho     96            0
2   1  Bolsa mais que Velha   8000            0
3   2                 Calça     75            0
4   3    Camisa apertadinha    170            0

In [3]:
#Pegar o nome das colunas
colunas = dados.columns
str(colunas).replace("'","")

'Index([ID, Name, Price, Id_Category], dtype=object)'

Apagar os dados antes de inserir

In [4]:
cursor.execute("TRUNCATE TABLE [Produtos]")  # Apagar os dados antes de inserir
cursor.commit()  # Validar dados no SQL Server

Inserindo DataFrame no Banco

In [5]:
for index, linha in dados.iterrows():
    cursor.execute("Insert into [Produtos](ID, Nome, Price, Id_Category) values(?, ?, ?, ?)",linha.ID, linha.Name, linha.Price, linha.Id_Category)
cursor.commit() # validar dados no SQL Server
cursor.close()  # fechar cursor
conexao.close() # Fechar conexao