In [97]:
# Conexão com SQL Server
import pandas as pd
import pyodbc

server = 'WILLIAN\SQLEXPRESS'
database = 'SQL_DB_1'

conexao = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                         f'SERVER={server};'
                         f'DATABASE={database};'
                         'Trusted_Connection=yes;')
cursor = conexao.cursor()

In [98]:
dados = pd.read_excel(r'C:\Aplicativos\Meus_Arquivos_Willian\Ambiente_Desenvolvimento\Arquivos_in\Categoria.xlsx')
dados.head()

   id                     name
0   0        Moda e Acessórios
1   1  Cosméticos e Perfumaria
2   2         Eletrodomésticos
3   3                   Livros
4   4                Celulares

In [99]:
#Pegar o nome das colunas
colunas = dados.columns
str(colunas).replace("'","")

'Index([id, name], dtype=object)'

Apagar os dados antes de inserir

In [100]:
cursor.execute("TRUNCATE TABLE [Categoria]")  # Apagar os dados antes de inserir
cursor.commit()  # Validar dados no SQL Server

Inserindo DataFrame no Banco

In [101]:
for index, linha in dados.iterrows():
    cursor.execute(
        "INSERT INTO [Categoria](id, Categoria) VALUES (?, ?)",(linha['id'], linha['name'])
    )
cursor.commit()
cursor.close()
conexao.close()

In [102]:
print("Dados inseridos com sucesso na tabela Categoria.")

Dados inseridos com sucesso na tabela Categoria.