In [57]:
# Conex√£o com SQL Server
import pandas as pd
import pyodbc

server = 'WILLIAN\SQLEXPRESS'
database = 'SQL_DB_1'

conexao = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                         f'SERVER={server};'
                         f'DATABASE={database};'
                         'Trusted_Connection=yes;')
cursor = conexao.cursor()

In [58]:
dados = pd.read_excel(r'C:\Aplicativos\Meus_Arquivos_Willian\Ambiente_Desenvolvimento\Arquivos_in\items.xlsx')
dados.head()

   id  order_id  product_id  quantity  total_price
0   0      7019          28         1          186
1   1      8827          29         1          110
2   2      3863          38         1          385
3   3      5002          37         1          493
4   4      6337          28         1          186

In [59]:
print(dados['id'].dtype) # Verifica o tipo de dados da coluna total_price
print(dados['order_id'].dtype) # Verifica o tipo de dados da coluna total_price
print(dados['product_id'].dtype) # Verifica o tipo de dados da coluna total_price
print(dados['quantity'].dtype) # Verifica o tipo de dados da coluna total_price
print(dados['total_price'].dtype) # Verifica o tipo de dados da coluna total_price

int64
int64
int64
int64
int64

In [60]:
#Converte coluna total_price para float64
dados['total_price'] = dados['total_price'].astype('float64')

In [61]:
#Pegar o nome das colunas
colunas = dados.columns
str(colunas).replace("'","")

'Index([id, order_id, product_id, quantity, total_price], dtype=object)'

Apagar os dados antes de inserir

In [62]:
cursor.execute("TRUNCATE TABLE [items]")  # Apagar os dados antes de inserir
cursor.commit()  # Validar dados no SQL Server

Inserindo DataFrame no Banco

In [63]:
for index, linha in dados.iterrows():
    cursor.execute(
        "INSERT INTO [items](id,order_id,product_id,quantity,total_price) VALUES (?,?,?,?,?)",linha.id, linha.order_id,linha.product_id,linha.quantity,linha.total_price)
cursor.commit()
cursor.close()
conexao.close()

In [64]:
print("Dados inseridos com sucesso na tabela items.")

Dados inseridos com sucesso na tabela items.